---
import { Image } from "astro:assets";
import Logo from "@/assets/HW.webp";
---

<a href="/">
  <Image
    src={Logo}
    alt="Hard-Ware Logo"
    width={100}
    height={100}
    class="w-20 h-20"
  />
</a>
